body {
  background: rgb(233, 88, 65);
  background: linear-gradient(
    90deg,
    rgba(233, 88, 65, 1) 0%,
    rgba(130, 75, 233, 1) 100%
  );
}

h1 {
  font-size: 72px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
